Django>=4.0.3
django-guid>=3.2.2
channels>=3.0.4
channels-redis>=3.3.1
asgiref>=3.5.0
colorama>=0.4.4
confluent-kafka[avro]>=1.7.0
redis>=2.10.6
asyncpg>=0.25.0
psycopg2-binary>=2.9.1
SQLAlchemy>=1.4.31
st1-logging>=0.0.1
st1-django>=0.0.1
st1-voluptuous-serializable>=0.0.1
st1-kafka-api>=0.0.1
